@model gestaoContadorcomvc.Models.ViewModel.Vm_categoria
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Grupo</h4>
            </div>
            <form asp-controller="Categoria" asp-action="CreateGrupoCategoria">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Cadastro de novo grupo de categorias de: <strong>@(TempData["escopo"] != null ? @TempData["escopo"] : "")</strong></p>
                        </div>
                    </div>
                    <hr class="hrLine" />
                    @{
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="categoria_classificacao" class="control-label"></label>
                                    <input asp-for="categoria_classificacao" placeholder="Exemplo: 2.01" class="form-control" onkeyup="mask_classificaoCategoriaGrupo(this.value, this.id, '@(TempData["escopo"] != null ? @TempData["escopo"] : "")')" onblur="verificaClassificacaoGrupo(this.id, this.value)" />
                                    <span asp-validation-for="categoria_classificacao" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="categoria_nome" class="control-label"></label>
                                    <input asp-for="categoria_nome" class="form-control" />
                                    <span asp-validation-for="categoria_nome" class="text-danger"></span>
                                </div>
                                <input type="hidden" name="escopo" value='@(TempData["escopo"] != null ? @TempData["escopo"] : "")' />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Gravar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
