@model gestaoContadorcomvc.Models.ViewModel.Vm_transferencia
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Transferência</h4>
            </div>
            <form asp-controller="Transferencia" asp-action="Edit" id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Altertar transferência</p>
                        </div>
                    </div>
                    <hr class="hrLine" />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ccorrente_de" class="control-label">De</label>
                                <select asp-items="@ViewBag.ccorrente_de" value="@TempData["ccorrente_de"]" id="ccorrente_de" name="ccorrente_de" class="form-control"></select>
                                <span asp-validation-for="ccorrente_de" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ccorrente_para" class="control-label">Para</label>
                                <select asp-items="@ViewBag.ccorrente_para" value="@TempData["ccorrente_para"]" id="ccorrente_para" name="ccorrente_para" class="form-control"></select>
                                <span asp-validation-for="ccorrente_para" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="data" class="control-label">Data</label>
                                <input value="@(Model.data.ToShortDateString())" name="data" id="data" class="form-control datepicker" />
                                <span asp-validation-for="data" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="valor" class="control-label">Valor</label>
                                <input value="@Model.valor.ToString("N")" name="valor" id="valor" onchange="decimal(this.id, this.value, '6')" class="form-control" />
                                <span asp-validation-for="valor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Memorando
                                    <span style="cursor:pointer" onclick="search_m('memorando','open')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </span>
                                </label>
                                <textarea asp-for="memorando" id="memorando" rows="3" class="form-control" onkeyup="consultaMemorando(this.id, this.value, '150','msg_obs')"></textarea>
                                <span class="text-info" id="msg_obs"></span>
                                <span class="text-info" id="pesquisa_memorando"></span>
                                <span asp-validation-for="memorando" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @*<input type="hidden" value="@Model.conta_corrente" name="contacorrente_id" />
                    <input type="hidden" value="@Model" name="dataInicio" />
                    <input type="hidden" value="@TempData["dataFim"].ToString()" name="dataFim" />*@
                    <input type="hidden" asp-for="ccm_id" id="ccm_id" />
                    <div class="row">
                        <div class="col-12" id="validacao_transfer">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_mensagem_delete">Excluir</button>
                    <button type="button" class="btn btn-info" id="sub_form" onclick="gravarCCM_transferencia('Edit','gravar')">Gravar</button>
                    <a class="btn btn-secondary" asp-controller="ContaCorrenteMov" asp-action="Index" asp-route-contacorrente_id="@Model.conta_corrente" asp-route-dataInicio="@Model.data_inicio.ToString("yyyy-M-d")" asp-route-dataFim="@Model.data_fim.ToString("yyyy-M-d")">Cancelar</a>
                    <br /><span class="text-info" id="msg_blockSubmit"></span>
                </div>

            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--Confirmação de Exclusão-->
<div class="modal fade" id="modal_mensagem_delete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Transferência</h5>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão da transferência no valor de @Model.valor.ToString("N") da data @Model.data.ToShortDateString()?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-controller="Transferencia" asp-action="Delete" asp-route-ccm_id="@Model.ccm_id" asp-route-contacorrente_id="@Model.conta_corrente" asp-route-dataInicio="@Model.data_inicio.ToString("yyyy-M-d")" asp-route-dataFim="@Model.data_fim.ToString("yyyy-M-d")">Confirma</a>
                <button type="button" class="btn btn-secondary" onclick="closeModalExcluir()">Cancelar</button> <!--data-dismiss="modal"-->
            </div>
        </div>
    </div>
</div>

<!--Gravação com sucesso-->
<div class="modal fade" id="transferencia_sucesso" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Transferência</h5>
            </div>
            <div class="modal-body">
                <p id="modal_body_retorno"></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" asp-controller="ContaCorrenteMov" asp-action="Index" asp-route-contacorrente_id="@Model.conta_corrente" asp-route-dataInicio="@Model.data_inicio.ToString("yyyy-M-d")" asp-route-dataFim="@Model.data_fim.ToString("yyyy-M-d")">OK</a>
                @*<button type="button" class="btn btn-success" onclick="gravarCCM_transferencia('','close')">OK</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="search_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search_modal_label"></h5>
            </div>
            <div class="modal-body" id="search_modal_body" style="text-align:left;">
                <input type="text" id="search_modal_input_search" value="" placeholder="Pesquisa" class="form-control form-control-sm pesquisa" style="max-width:100%;margin-bottom: 20px;" />
                <div class="table-responsive" style="max-height: 350px;">
                    <table class="table table-sm" id="search_modal_table" style="width:100%">
                        <thead id="search_modal_table_thead"></thead>
                        <tbody id="search_modal_table_tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="search_modal_rodape">
                <button type="button" class="btn btn-secondary" onclick="search_m('','close')">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    execDatapicker();
    function closeModalExcluir() {
        $('#modal_mensagem_delete').modal('hide');
    }
</script>