@model gestaoContadorcomvc.Models.ViewModel.Vm_transferencia
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Transferência</h4>
            </div>
            <form asp-controller="Transferencia" asp-action="Edit" id="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Altertar transferência</p>
                        </div>
                    </div>
                    <hr class="hrLine" />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ccorrente_de" class="control-label">De</label>
                                <select asp-items="@ViewBag.ccorrente_de" value="@TempData["ccorrente_de"]" id="ccorrente_de" name="ccorrente_de" class="form-control"></select>
                                <span asp-validation-for="ccorrente_de" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ccorrente_para" class="control-label">Para</label>
                                <select asp-items="@ViewBag.ccorrente_para" value="@TempData["ccorrente_para"]" id="ccorrente_para" name="ccorrente_para" class="form-control"></select>
                                <span asp-validation-for="ccorrente_para" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="data" class="control-label">Data</label>
                                <input value="@(Model.data.ToShortDateString())" name="data" id="data" class="form-control datepicker" />
                                <span asp-validation-for="data" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="valor" class="control-label">Valor</label>
                                <input value="@Model.valor.ToString("N")" name="valor" id="valor" onchange="decimal(this.id, this.value, '6')" class="form-control" />
                                <span asp-validation-for="valor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Memorando</label>
                                <textarea asp-for="memorando" id="memorando" rows="3" class="form-control" onkeyup="consultaMemorando(this.id, this.value, '150','msg_obs')"></textarea>
                                <span class="text-info" id="msg_obs"></span>
                                <span class="text-info" id="pesquisa_memorando"></span>
                                <span asp-validation-for="memorando" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@TempData["contacorrente_id"].ToString()" name="contacorrente_id" />
                    <input type="hidden" value="@TempData["dataInicio"].ToString()" name="dataInicio" />
                    <input type="hidden" value="@TempData["dataFim"].ToString()" name="dataFim" />
                    <input type="hidden" asp-for="ccm_id" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_mensagem_delete">Excluir</button>
                    <button type="submit" class="btn btn-info" id="sub_form" onclick="blockSubmit(this.id,'form')">Gravar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <br /><span class="text-info" id="msg_blockSubmit"></span>
                </div>

            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--Confirmação de Exclusão-->
<div class="modal fade" id="modal_mensagem_delete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Transferência</h5>
            </div>
            <div class="modal-body">
                <p>Confirma a exclusão da transferência no valor de @Model.valor.ToString("N") da data @Model.data.ToShortDateString()?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" asp-controller="Transferencia" asp-action="Delete" asp-route-ccm_id="@Model.ccm_id" asp-route-contacorrente_id="@TempData["contacorrente_id"].ToString()" asp-route-dataInicio="@TempData["dataInicio"].ToString()" asp-route-dataFim="@TempData["dataFim"].ToString()">Confirma</a>
                <button type="button" class="btn btn-secondary" onclick="closeModalExcluir()">Cancelar</button> <!--data-dismiss="modal"-->
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    execDatapicker();
    function closeModalExcluir() {
        $('#modal_mensagem_delete').modal('hide');
    }
</script>