@model gestaoContadorcomvc.Models.ViewModel.Vm_contabilidade
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Contabilidade</h4>
            </div>
            <form asp-controller="Configuracoes" asp-action="AddContabilidade">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>Adição de contabildiade responsável pela empresa!</p>
                        </div>
                    </div>
                    <hr class="hrLine" />
                    @{
                        if (Model.cc_termo == "Erro")
                        {
                            <p><strong>Não foi localizado um contador com o número de documento informado!</strong></p>
                        }
                        else
                        {
                            string[] termo = new string[15];
                            termo = Model.cc_termo.Split("|");
                            <div class="row">
                                <div class="col-12">
                                    <p>@termo[0]</p>
                                    <p>@termo[1]</p>
                                    <p>@termo[2]</p>
                                    <p>@termo[3]</p>
                                    <p>@termo[4]</p>
                                    <p>@termo[5]</p>
                                    <p>@termo[6]</p>
                                    <p>@termo[7]</p>
                                </div>
                            </div>

                            <input type="hidden" asp-for="cc_conta_id_contador" />
                            <input type="hidden" asp-for="cc_conta_id" />
                            <input type="hidden" asp-for="cc_dctoContador" />
                            <input type="hidden" asp-for="cc_nomeContador" />
                            <input type="hidden" asp-for="cc_termo" />
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    @{
                        if (Model.cc_termo != "Erro")
                        {
                            <button type="submit" class="btn btn-info">Concordo</button>
                        }
                    }
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
