@model gestaoContadorcomvc.Models.ViewModel.Vm_ccm
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!--Alert retorno ajax-->
            @*<div class="alert alert-danger alert-dismissible fade show box_modal" role="alert" id="Esconder" style="display:none;z-index: 2000;">
                    <p id="msg_retorno"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-success alert-dismissible fade show box_modal" role="alert" id="Esconder_success" style="display:none;z-index: 2000;">
                    <p id="msg_retorno_success"></p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>*@
            <div class="modal-header">
                <h4 class="modal-title">Lançamento</h4>
            </div>
            <form asp-controller="ContaCorrenteMov" asp-action="Create">
                <div class="modal-body" id="modal_c">
                    <div class="row">
                        <div class="col-12">
                            <p>Novo lançamento</p>
                        </div>
                    </div>
                    <hr class="hrLine" />
                    <div class="row">
                        @{
                            DateTime today = DateTime.Today;

                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="ccm_data" class="control-label">Data</label>
                                    <input type="text" name="ccm_data" id="ccm_data" autocomplete="off" class="form-control form-control-sm datepicker" value="@today.ToShortDateString()" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="ccm_data_competencia" class="control-label">Competência</label>
                                    <input type="text" name="ccm_data_competencia" id="ccm_data_competencia" autocomplete="off" class="form-control form-control-sm datepicker" value="@today.ToShortDateString()" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="ccm_valor_principal" class="control-label">Valor Principal</label>
                                <input type="text" autofocus asp-for="ccm_valor_principal" id="ccm_valor_principal" value="" class="form-control form-control-sm" onblur="calculaTotalCCM(this.id, this.value)" />
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="ccm_multa" class="control-label">Multa</label>
                                <input type="text" asp-for="ccm_multa" id="ccm_multa" value="" class="form-control form-control-sm" onblur="calculaTotalCCM(this.id, this.value)" />
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <div class="form-group">
                                <label asp-for="ccm_juros" class="control-label">Juros</label>
                                <input type="text" asp-for="ccm_juros" id="ccm_juros" value="" class="form-control form-control-sm" onblur="calculaTotalCCM(this.id, this.value)" />
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label asp-for="ccm_desconto" class="control-label">Desconto</label>
                                <input type="text" asp-for="ccm_desconto" id="ccm_desconto" value="" class="form-control form-control-sm" onblur="calculaTotalCCM(this.id, this.value)" />
                            </div>                            
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ccm_valor" class="control-label">Valor Total</label>
                                <input type="text" asp-for="ccm_valor" id="ccm_valor" value="" class="form-control form-control-sm" readonly />
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-12">
                            <label class="control-label">Participante</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" name="participante" id="participante" autocomplete="off" onkeyup="consultaParticipanteCCM(this.id)" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-outline-secondary" type="button" id="button-addon2" onclick="alteraParticipanteCCM()">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_participante_pesquisa" onclick="search_m('participante','open')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </div>
                                <input type="hidden" asp-for="ccm_participante_id" /> <!--ID do participante-->
                            </div>
                            <span class="text-info" id="pesquisa_participante"></span>
                        </div>
                    </div>
                    <!--categoria autocomplet-->
                    <div class="row">
                        <div class="col-12">
                            <label class="control-label">Categoria</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-sm" name="categoria" id="categoria" autocomplete="off" onkeyup="consultaCategoria(this.id)" aria-label="categoria" aria-describedby="categoria">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_categoria" onclick="alteraCategoriaCCM()">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                    <button class="btn btn-sm btn-outline-secondary" type="button" id="btn_categoria_pesquisa" onclick="search_m('categoria','open')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </button>
                                </div>
                                <input type="hidden" name="categoria_id_ccm" id="categoria_id_ccm" /> <!--ID da categoria-->
                            </div>
                            <span class="text-info" id="pesquisa_categoria"></span>
                        </div>
                    </div>
                    <!--Fim categoria auto complete-->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ccm_memorando" class="control-label">
                                    Memorando
                                    <span style="cursor:pointer" onclick="search_m('memorando','open')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </span>
                                </label>
                                <textarea asp-for="ccm_memorando" id="ccm_memorando" rows="3" class="form-control" onkeyup="consultaMemorando(this.id, this.value, '150','memorando')"></textarea>
                                <span class="text-info" id="memorando"></span>
                                <span class="text-info" id="pesquisa_memorando"></span>
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.nf.ccm_nf)
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="nf_ccm" class="custom-control-input" onchange="ccm_nf(this.id,'box_nf')" checked="checked">
                                <label class="custom-control-label" for="nf_ccm">Informar nota fiscal</label>
                            </div>
                            <script>
                                document.getElementById('box_nf').style.display = 'block';
                            </script>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="nf_ccm" class="custom-control-input" onchange="ccm_nf(this.id,'box_nf')">
                                <label class="custom-control-label" for="nf_ccm">Informar nota fiscal</label>
                            </div>
                            <script>
                                document.getElementById('box_nf').style.display = 'none';
                            </script>
                        }
                    }
                    <div style="display:none" id="box_nf">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="nf.ccm_nf_data_emissao" class="control-label">Data</label>
                                    <input type="text" name="ccm_nf_data_emissao" id="ccm_nf_data_emissao" autocomplete="off" class="form-control datepicker" value="@today.ToShortDateString()" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="nf.ccm_nf_valor" class="control-label">Valor</label>
                                    <input type="text" asp-for="nf.ccm_nf_valor" id="ccm_nf_valor" class="form-control" onchange="decimal(this.id, this.value, '2')" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Série</label>
                                    <input type="text" asp-for="nf.ccm_nf_serie" id="ccm_nf_serie" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="control-label">Número</label>
                                    <input type="text" asp-for="nf.ccm_nf_numero" id="ccm_nf_numero" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Chave de Acesso</label>
                                    <input type="text" asp-for="nf.ccm_nf_chave" id="ccm_nf_chave" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="ccorrente_id" id="ccorrente_id" value="@Model.filtro.contacorrente_id" />
                </div>
                <div id="validaForm" style="display:none;margin-left: 15px;margin-right: 15px;">

                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" asp-controller="ContaCorrenteMov" asp-action="Index" asp-route-contacorrente_id="@Model.filtro.contacorrente_id" asp-route-dataInicio="@Model.filtro.dataInicio.ToString("yyyy-M-d")" asp-route-dataFim="@Model.filtro.dataFim.ToString("yyyy-M-d")">Fechar</a>
                    <button type="button" onclick="gravarLancamentoCCM('Create')" class="btn btn-info" id="btn_gravar_ccm">Gravar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--Gravação com sucesso-->
<div class="modal fade" id="ccm_gravado_sucesso" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lançamento</h5>
            </div>
            <div class="modal-body">
                <p>Lançamento gravado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" asp-controller="ContaCorrenteMov" asp-action="Index" asp-route-contacorrente_id="@Model.filtro.contacorrente_id" asp-route-dataInicio="@Model.filtro.dataInicio.ToString("yyyy-M-d")" asp-route-dataFim="@Model.filtro.dataFim.ToString("yyyy-M-d")">Voltar</a>
                <button type="button" class="btn btn-success" onclick="close_ccm_gravado_sucesso()">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Gravação com Erro-->
<div class="modal fade" id="ccm_gravado_erro" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lançamento</h5>
            </div>
            <div class="modal-body">
                <p id="msg_retorno"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="close_ccm_gravado_erro()">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="search_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="search_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="search_modal_label"></h5>
            </div>
            <div class="modal-body" id="search_modal_body" style="text-align:left;">
                <input type="text" id="search_modal_input_search" value="" placeholder="Pesquisa" class="form-control form-control-sm pesquisa" style="max-width:100%;margin-bottom: 20px;" />
                <div class="table-responsive" style="max-height: 350px;">
                    <table class="table table-sm" id="search_modal_table" style="width:100%">
                        <thead id="search_modal_table_thead"></thead>
                        <tbody id="search_modal_table_tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="search_modal_rodape">
                <button type="button" class="btn btn-secondary" onclick="search_m('','close')">Fechar</button>                
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    execDatapicker();
    modal_modal();
    function close_ccm_gravado_sucesso() {
        document.getElementById('ccm_valor').value = "";
        document.getElementById('ccm_memorando').value = "";
        document.getElementById('ccm_nf_data_emissao').value = "";
        document.getElementById('ccm_nf_valor').value = "";
        document.getElementById('ccm_nf_serie').value = "";
        document.getElementById('ccm_nf_numero').value = "";
        document.getElementById('ccm_nf_chave').value = "";
        document.getElementById('ccm_valor_principal').value = "";
        document.getElementById('ccm_multa').value = "";
        document.getElementById('ccm_juros').value = "";
        document.getElementById('nf_ccm').checked = false;
        document.getElementById('box_nf').style.display = 'none';
        document.getElementById('btn_gravar_ccm').disabled = false;
        $('#ccm_gravado_sucesso').modal('hide');
        $('#modal').on('shown.bs.modal', function () {
            $('#ccm_valor').focus();
        });
        document.getElementById('ccm_valor_principal').focus();
    }
    function close_ccm_gravado_erro() {
        $('#ccm_gravado_erro').modal('hide');
    }
</script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}