
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            margin: 0px;
            background-image: url('/Imagens/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
        }

        .box {
            width: 300px;
            height: auto;
            background: #fff;
            text-align: center;
            padding-bottom: 5px;
        }
        .box input{
            text-align: center;
        }
        .box input:hover{
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .faixa {
            width: 100%;
            height: 35px;
            border-bottom: 3px solid #ff4400;
            background-color: #060040;
        }

        .login {
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 40px;
            margin-top: 35px;
            margin-bottom: 40px;
        }
        .botao{
            width: 100%;
            margin-top: 10px;
        }
        .criarConta{
            margin-top: 10px;
        }
        
        .radio-toolbar input[type="radio"] {
            display: none;
        }
        .radio-toolbar label {
            float: left;
            background-color: #17a2b8;
            color: white;
            width: 135px;
            height: 38px;
            line-height: 38px;
            font-family: sans-serif;
            cursor: pointer;
            user-select: none;
        }
        .radio-toolbar input[type="radio"]:checked + label {
            background-color: #138496;
        }
        #label1 {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        #label2 {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

    </style>
</head>
<body>    
    <div class="container">
        <form class="box" autocomplete="off" asp-action="Login">
            <div class="faixa"></div>
            <div class="container-fluid">
                @{
                    if (TempData["forgot_retorno"] != null)
                    {
                        if (TempData["forgot_retorno"].ToString().Contains("sucesso"))
                        {
                            <div class="row" style="margin-top:25px;">
                                <div class="col-12">
                                    <div class="alert alert-success" role="alert">@TempData["forgot_retorno"].ToString()</div>
                                </div>
                            </div>
                        }
                        if (TempData["forgot_retorno"].ToString().Contains("Erro"))
                        {
                            <div class="row" style="margin-top:25px;">
                                <div class="col-12">
                                    <div class="alert alert-danger" role="alert">@TempData["forgot_retorno"].ToString()</div>
                                </div>
                            </div>
                        }
                    }
                }
                <h1 class="login">Login</h1>
                <div class="form-group">
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuário ou E-mail" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <select asp-items="@ViewBag.conta_tipo" value="@TempData["conta_tipo"]" id="conta_tipo" name="conta_tipo" class="form-control"></select>
                </div>

                <button type="submit" class="btn btn-info botao">Entrar</button>
                <p class="criarConta">Não é registrado? <a asp-controller="Conta" asp-action="Registro">Cria sua conta</a></p>
                <p class="criarConta"><a asp-controller="ForgotPassword" asp-action="redefinir_senha">Esqueceu sua senha?</a></p>
                @{
                    if (TempData["errorLogin"] != null)
                    {
                        <span class="text-danger">@TempData["errorLogin"].ToString()</span>
                    }
                }
            </div>
        </form>
    </div>
</body>
</html>
