@model gestaoContadorcomvc.Areas.Contabilidade.Models.ViewModel.vm_ConfigContadorCliente
@{
    ViewData["Title"] = "Configutações";
    Layout = "~/Areas/Contabilidade/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["retornoConfig"] != null && TempData["retornoConfig"].ToString().Contains("sucesso"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Sucesso!</strong> @TempData["retornoConfig"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    if (TempData["retornoConfig"] != null && TempData["retornoConfig"].ToString().Contains("Erro"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Erro!</strong> @TempData["retornoConfig"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h2>Configurações</h2>
@{
    if (TempData["Cliente"] != null)
    {
        <h5>@TempData["Cliente"].ToString()</h5>
    }
}
<hr class="hrLine" />

@{

    if (TempData["Cliente"] != null && TempData["Cliente"].ToString() != "Nenhum cliente selecionado!")
    {
        if (Model.ccc_id == 0)
        {
            <p>Cliente sem configurações</p>
            
            <div class="form-group">
                <button class="btn btn-info"><a class="create" data-escopo="Entrada">Cadastrar</a></button>
            </div>
        }
        else
        {
            <fieldset>
                <legend>Contabilidade</legend>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" asp-for="ccc_pref_contabilizacao" disabled onchange="contabilizacao(this.value)" class="custom-control-input">
                        <label class="custom-control-label" for="ccc_pref_contabilizacao">Contabilização on line</label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="ccc_planoContasVigente" class="control-label"></label>
                        <select asp-items="@ViewBag.planosContador" disabled value="@TempData["planosContador"]" asp-for="ccc_planoContasVigente" class="form-control" style="width: 100%;"></select>
                        <span asp-validation-for="ccc_planoContasVigente" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Restrições</legend>
                <div class="custom-control custom-switch">
                    <input type="checkbox" asp-for="ccc_pref_novaCategoria" class="custom-control-input" disabled>
                    <label class="custom-control-label" for="ccc_pref_novaCategoria">Impedir que cliente cadastre categoiras</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" asp-for="ccc_pref_editCategoria" disabled>
                    <label class="custom-control-label" for="ccc_pref_editCategoria">Impedir que cliente altere categorias</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" asp-for="ccc_pref_deleteCategoria" disabled>
                    <label class="custom-control-label" for="ccc_pref_deleteCategoria">Impedir que cliente apague categorias</label>
                </div>
            </fieldset>
            <br />
            <div class="form-group">
                <button class="btn btn-info"><a class="edit" data-escopo="Entrada">Alterar</a></button>
            </div>
        }
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>