@model gestaoContadorcomvc.Models.ViewModel.Vm_contas_receber

@{
    ViewData["Title"] = "Contas a Receber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-list-rigth {
        width: 90px;
        text-align: right;
    }

    .check-list-label {
        display: none;
    }

    .col-list-body {
        width: calc(100% - 90px);
    }

    a {
        cursor: pointer;
    }

    .line-list {
        border: 0px;
    }

    .titulo {
        background-color: #d9d8d4;
    }

    legend {
        margin-top: 15px;
    }
</style>

@{
    if (TempData["msgCP"] != null && TempData["msgCP"].ToString().Contains("sucesso"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Sucesso!</strong> @TempData["msgCP"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    if (TempData["msgCP"] != null && TempData["msgCP"].ToString().Contains("Erro"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Erro!</strong> @TempData["msgCP"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<h2>Contas a Receber</h2>
<hr class="hrLine" />

<div class="list-header">
    <div class="line-list titulo">
        <div class="col-list-left">
            <input class="check-list-input" type="checkbox" id="cp_todas">
            <label class="check-list-label" for="cp_todas"></label>
        </div>
        <div class="col-list-body">
            <div class="row">
                <div class="col-12 col-md-2"><strong>Vencimento</strong></div>
                <div class="col-12 col-md-3"><strong>Fornecedor</strong></div>
                <div class="col-12 col-md-3"><strong>Referência</strong></div>
                <div class="col-12 col-md-2" style="text-align:right;"><strong>Valor Original</strong></div>
                <div class="col-12 col-md-2" style="text-align:right;"><strong>Saldo</strong></div>
            </div>
        </div>
        <div class="col-list-rigth" style="padding-right: 10px;">
            <span><strong>Ações</strong></span>
        </div>
    </div>
</div>
@{
    foreach (var item in Model.contasReceber)
    {
        <div class="line-list">
            <div class="col-list-left">
                <input class="check-list-input" type="checkbox" id="cp_todas">
                <label class="check-list-label" for="cp_todas"></label>
            </div>
            <div class="col-list-body">
                <div class="row">
                    <div class="col-12 line_list_title_mobile"><strong>Vencimento: </strong>@item.vencimento.ToShortDateString()</div>
                    <div class="col-12 line_list_title_mobile"><strong>Fornecedor: </strong>@item.fornecedor</div>
                    <div class="col-12 line_list_title_mobile"><strong>Referência: </strong>@item.referencia</div>
                    <div class="col-12 line_list_title_mobile"><strong>Valor Original: </strong>@item.valorOriginal.ToString("N2")</div>
                    <div class="col-12 line_list_title_mobile"><strong>Saldo: </strong>@item.saldo.ToString("N2")</div>

                    <div class="col-2 line_list_title_full">@item.vencimento.ToShortDateString()</div>
                    <div class="col-3 line_list_title_full">@item.fornecedor</div>
                    <div class="col-3 line_list_title_full">@item.referencia</div>
                    <div class="col-2 line_list_title_full" style="text-align:right;">@item.valorOriginal.ToString("N2")</div>
                    <div class="col-2 line_list_title_full" style="text-align:right;">@item.saldo.ToString("N2")</div>
                </div>
            </div>
            <div class="col-list-rigth" style="padding-right: 10px;">
                @{
                    if (item.prazo == 1)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="vence hoje">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="#fcd303" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                        </span>
                    }
                    if (item.prazo == 2)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="atrasada">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                        </span>
                    }
                    if (item.prazo == 3)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="à vencer">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="blue" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8" cy="8" r="8" />
                            </svg>
                        </span>
                    }

                    if (Model.user.Role == "adm" || Model.user._permissoes.baixaEdit || Model.user._permissoes.baixaDelete)
                    {
                        <a class="createBaixa" data-parcela_id="@item.parcela_id" data-contexto="receber">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z" />
                                <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                            </svg>
                        </a>
                    }
                }
            </div>
        </div>
    }
}